*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(45deg, rgb(165, 255, 247) 0%, rgb(165, 255, 247) 10%, rgb(165, 255, 247) 20%, rgb(165, 255, 247) 100%);
    font-family: Poppins, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

ul li{
    list-style: none;
}