*{
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
    z-index: 5;
}

ul{
   list-style: none;
   overflow: hidden;
   background-color: #e0e0ff; 
}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    color:#3D444D;
}