*{
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
    z-index: 5;
    background-color: black;
    top: 0;
}

nav ul{
    width: 100%; /* Controls the full width of the navigation bar */
    position: relative;
    list-style: none; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    color:#3D444D;
}